@page
@model TheWhaddonShowRazorApp.Pages.Persons.CreateModel
@{
}

<h1>Create</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PersonUpdate.FirstName" class="control-label"></label>
        <input asp-for="PersonUpdate.FirstName" class="form-control" />
        <span asp-validation-for="PersonUpdate.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonUpdate.LastName" class="control-label"></label>
        <input asp-for="PersonUpdate.LastName" class="form-control" />
        <span asp-validation-for="PersonUpdate.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonUpdate.Email" class="control-label"></label>
        <input asp-for="PersonUpdate.Email" class="form-control" />
        <span asp-validation-for="PersonUpdate.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonUpdate.PictureRef" class="control-label"></label>
        <input asp-for="PersonUpdate.PictureRef" class="form-control" />
        <span asp-validation-for="PersonUpdate.PictureRef" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonUpdate.IsActor" class="control-label"></label>
        <input asp-for="PersonUpdate.IsActor" checked/>
        <span asp-validation-for="PersonUpdate.IsActor" class="text-danger"></span>
   
        <label asp-for="PersonUpdate.IsSinger" class="control-label"></label>
        <input asp-for="PersonUpdate.IsSinger" />
        <span asp-validation-for="PersonUpdate.IsSinger" class="text-danger"></span>

        <label asp-for="PersonUpdate.IsWriter" class="control-label"></label>
        <input asp-for="PersonUpdate.IsWriter" />
        <span asp-validation-for="PersonUpdate.IsWriter" class="text-danger"></span>

        <label asp-for="PersonUpdate.IsBand" class="control-label"></label>
        <input asp-for="PersonUpdate.IsBand"  />
        <span asp-validation-for="PersonUpdate.IsBand" class="text-danger"></span>
  
        <label asp-for="PersonUpdate.IsTechnical" class="control-label"></label>
        <input asp-for="PersonUpdate.IsTechnical"  />
        <span asp-validation-for="PersonUpdate.IsTechnical" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonUpdate.Tags" class="control-label"></label>
        <input asp-for="PersonUpdate.Tags" class="form-control" />
        <span asp-validation-for="PersonUpdate.Tags" class="text-danger"></span>
    </div>
    <div classs="form-group">
        <input type="submit" value="Create Person" class="btn btn-primary"/>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}