@model TheWhaddonShowApp.Models.MenuItem

<span class="menu-icon">
	@if (Model.Icon != null)
	{
		<i class="@Model.Icon"></i>
	}
	@if (Model.IconLabel != null)
	{
		<span class="menu-icon-label">@Model.IconLabel</span>
	}
</span>

<span class="menu-text">@Model.Text</span>

@if (Model.SubItems != null)
{
    <span class="menu-caret"><b class="caret"></b></span>
}